* {
  margin: 0 auto;
}
section{
  border: dimgray solid 1px;
  position: relative;
  display: inline-block;
}
#n1 .amarillo, #n2 .amarillo, #n3 .amarillo{
  background-color: yellow;
  width: 200px;
  height: 200px;
}
#n1 .azul, #n2 .azul, #n3 .azul{
  background-color: blue;
  width: 200px;
  height: 200px;
}
#n1 .rojo, #n2 .rojo, #n3 .rojo{
  background-color: red;
  width: 200px;
  height: 200px;
}
#n1 .blanco, #n2 .blanco, #n3 .blanco{
  background-color: white;
  width: 200px;
  height: 200px;}
.izquierda{
  float: left;
}
